.cover{
    margin: 64px;
}
.cover h2{
    color: red;
    font-size: 40px;
    font-weight: 900;
}
.box1{
    display: inline-block;
    padding: 10px;
}
.box1 h2{
    font-size: 32px;
    color: #000;
    margin-bottom: 32px;    
}
.box1-adress{
    padding: 5px;
    word-spacing: 2px;
}
.box1-phone{
    padding: 5px;
    word-spacing: 2px;
}
.box1-mail{
    padding: 5px;
}
.box2{
    display: inline-block;
}
.box2 h2{
  font-size: 32px;
  color: #000;
  margin-bottom: 32px;    
}
.box2-email{}
.box2-email-input{
   height: 40px;
}
.box2-name{}
.box2-name-input{
    height: 40px;
}
.box2-content{
 
}
.box2-content-input{
    height: 40px;
}